.title-finance {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  margin-bottom: 32px;

  padding: 10px;
}
.ul-card {
  width: 85%;
}

@media (min-width: 1000px) {
  .ul-card {
    width: 560px;
  }
}
