.div-box {
  max-width: 316px;
  max-height: 96px;
  padding: 20px 48px;
  margin-top: 16px;

  background: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 4px;
}

.div-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.value-full {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.value-sub {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
